<input type="text" [(ngModel)]="title">

{{ title }}

<select name="opciones" [(ngModel)]="title">
  <option value="Opcion1">Opcion1</option>
  <option value="Opcion2">Opcion2</option>
</select>


<div *ngIf="title === 'Opcion1'">
 <p>Este es un div 1</p>
</div>


<div *ngIf="title === 'Opcion2'">
 <p>Este es un div 2</p>
</div>
<br/>
<button (click)="addItem()">Add Items</button>
<ul>
  <li *ngIf="auths.length === 0">
    List is empty
  </li>
  <li *ngFor = "let name of auths; index as i"> 
    {{name}} {{i}}
    <button (click)="delItem(i)">Delete Items</button>
  </li>
<ul>

<div *ngFor="let product of products; index as i">
  <img [src]="product.image" [alt]="product.title" width="20%">
  {{product.title}}
  {{product.price}}
  {{product.description}}
</div>